body {
  margin: 0;
  font-family: "Kanit", "Arial", sans-serif;
  font-size: 20px;
  line-height: 26px;
}

.dark-theme {
  background-color: var(--default-black);
}

.dark-theme .themeChange {
  background-image: url("/images/light.svg");
}
