:root {
  --default-purple: #6c63ff;
  --primary-purple: #5850dd;
  --darken-purple: #534cc2;
  --light-gray: #e8e8e8;
  --default-white: #ffffff;
  --default-black: #000000;
  --default-red: #e50000;
}
