.app__search {
  width: 560px;
  height: 38px;
  padding: 11px 400px 11px 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid var(--default-purple);
  border-radius: 5px;
  box-sizing: border-box;

  background-image: url("/images/search.svg");
  background-position: 97% 50%;
  background-repeat: no-repeat;
}
