.header {
  padding: 20px 40px;
  text-align: center;
}

.headerHeading {
  margin: 0;
  font-size: 26px;
  line-height: 34px;
  color: var(--default-black);
  text-transform: uppercase;
  transition: color 0.3s ease;
}

:global(.dark-theme) .headerHeading {
  color: var(--default-white);
}
