.item {
  padding: 10px 0;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid var(--default-purple);
}

.itemLabel {
  width: 400px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

.itemCheckbox {
  appearance: none;
  width: 26px;
  height: 26px;
  border: 2px solid var(--default-purple);
  border-radius: 2px;
  cursor: pointer;
}

.itemCheckbox:checked {
  background-color: var(--default-purple);
  background-image: url("/images/check.svg");
  background-position: 50% 30%;
  background-repeat: no-repeat;
}

.completed {
  color: var(--light-gray);
  text-decoration: line-through;
  transition: color 0.3s ease;
}

:global(.dark-theme) .todoText {
  color: var(--default-white);
  transition: color 0.3s ease;
}

.itemControls {
  display: flex;
  gap: 20px;
}

.todoEmpty {
  width: 221px;
  margin: 0 auto;
  margin-top: 70px;
}

.todoEmptyText {
  font: inherit;
  text-align: center;
}

:global(.dark-theme) .todoEmptyText {
  color: var(--default-white);
}
