.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popupForm {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--default-white);
  width: 500px;
  height: 280px;
  padding: 18px 30px;
  box-sizing: border-box;
  border-radius: 16px;
}

:global(.dark-theme) .popupForm {
  background-color: var(--default-black);
  border: 1px solid var(--default-white);
}

.popupHeading {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

:global(.dark-theme) .popupHeading {
  color: var(--default-white);
}

.popupInput {
  width: 440px;
  height: 39px;
  box-sizing: border-box;
  border: 1px solid var(--default-purple);
  border-radius: 5px;
  outline: none;
  padding: 2px 10px;
}

:global(.dark-theme) .popupInput {
  color: var(--default-white);
  background-color: var(--default-black);
  border-color: var(--default-white);
}

.popupControlWrap {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.popupCancel {
  display: block;
  width: 107px;
  height: 38px;
  box-sizing: border-box;
  background: none;
  border: none;
  border: 1px solid var(--default-purple);
  color: var(--default-purple);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}

.popupAdd {
  display: block;
  width: 107px;
  height: 38px;
  box-sizing: border-box;
  background: none;
  border: none;
  background-color: var(--default-purple);
  color: var(--default-white);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}
